a {
	text-decoration: underline;
	color: #022C56;
	position: relative;
}

a:hover {
	text-decoration: none;
}

a:active,
a:focus {
	outline: none;
}

img {
	border: 0;
}
*,
div,
ul,
li,
h1,
h2,
p,
img {
	padding: 0;
    margin-left: 0;
}

body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	color: #012b55;
	font: 11px/20px Arial, sans-serif;
	width: 100%;
	height: 100%;
}

#wrapper {
	width: 1000px;
	height: 650px;
	position: absolute;
	left: 50%;
	margin-left: -500px;
}

#subwrapper {
	top: 15px;
	height: 650px;
	position: absolute;
}

button {
    background-color: #010429;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
		width: 100px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#bg {
	float: left;
	background-color: #fff;
	background-image: url(../_images/stretch_bg.gif);
	background-position: right bottom;
	background-repeat: no-repeat;
	margin: 15px 0 0 0;
	width: 50%;
	margin-left: -397px;
	height: 579px;
}

#photos {
	position: absolute;
	width: 100px;
	height: 533px;
}

#photos img {
	position: absolute;
    top: -21px;
    left: -234px;
}

#content {
	position: absolute;
	top: 0;
	height: 579px;
	width: 1000px;
	background-image: url(../_images/bg.png);
	background-position: top left;
	background-repeat: no-repeat;
}

#content #txt {
	position: absolute;
	left: 100px;
	top: 180px;
	width: 750px;
	background-color: #fff;
	z-index: 9999;
	padding-bottom: 50px;
	float: left;
}

#content #txt h2 {
	margin: 25px 0 15px 25px;
	text-transform: uppercase;
}

#content #txt h3 {
	margin: 0 0 5px 25px;
}

#content #txt p {
	text-align: justify;
	margin: 0 25px 25px 25px;
	line-height: 18px;
}

#content #txt p a {
	font-weight: bold;
}

#logo a {
	position: absolute;
	width: 280px;
	height: 80px;
	background-image: url(../_images/logo-v2.png);
	background-position: top left;
	background-repeat: no-repeat;
	text-indent: -9999px;
	top: 100px;
	left: 100px;
}

#nav {
	position: absolute;
	left: 100px;
	list-style: none;
	background-color: rgba(255, 255, 255, 0.5);
}

#nav li {
	float: left;
}

#nav li a {
	display: block;
	height: 10px;
	padding: 30px 2px 0 2px;
	float: left;
	text-transform: uppercase;
	margin: 0 30px 0 0;
	_margin: 0 15px 0 0;
	color: #012b55;
	text-decoration: none;
	font-weight: bold;
	transition: 0.5s ease;
}

#nav li a.active,
#nav li a:hover {
	border-top: 4px solid #267bb7;
	color: #fff;
	padding: 26px 2px 0 2px;
}

#nav li a:hover {
	background-color: #010429;
	transition: 0.5s ease;
	padding-bottom: 26px;
}

#subnav {
	position: absolute;
	left: 100px;
	top: 60px;
	list-style: none;
}

#subnav li {
	float: left;
}

#subnav li a {
	color: #fff;
	display: block;
	float: left;
	text-decoration: none;
	margin-right: 17px;
	_margin-right: 8px;
	padding: 5px;
}

#subnav li a.active,
#subnav li a:hover {
	color: #fff;
	background: #267BB7;
}

#map {
	float: left;
	background-color: #C0C0C0;
	height: 250px;
	width: 450px;
	margin: 0 25px 25px 25px;
}

#footer {
	position: relative;
	;
	bottom: 0px;
	width: 100%;
}

#footer a {
	color: #929ba7;
}

#left {
	float: left;
	width: 360px;
	border-right: 3px double #B5C5CF;
}

#right {
	float: left;
	width: 360px;
}

fieldset {
	border: 0;
	margin: 25px;
}

fieldset label {
	display: block;
	float: left;
	width: 200px;
	clear: both;
}

fieldset input {
	width: 210px;
	float: left;
	background-color: #E8E8EA;
	border: 1px solid #C2C2CF;
	margin: 0 2px 2px 0;
	padding: 5px 0 0 0;
}

fieldset textarea {
	border: 0;
	background-color: #E8E8EA;
	border: 1px solid #C2C2CF;
	margin: 0 0 2px 0;
	padding: 5px;
	width: 200px;
	height: 110px;
	font: 11px/20px Arial, sans-serif;
	float: left;
}

fieldset button {
	border: 0;
	background-color: #010429;
	margin: 1px 0 0 200px;
	padding: 5px;
	color: #fff;
	float: left;
}

.kwaliteitslabel,
.sub {
	margin: 10px 0 10px 25px;
	padding: 0 5px 0 5px;
	float: left;
	text-decoration: none;
	font-weight: bold;
}

.succes {
	background-color: #EFEFEF;
	color: #405F7E;
	padding: 5px;
	margin: 0 25px 0 25px;
}

.warning {
	background-color: #EFEFEF;
	color: red;
	padding: 5px;
	margin: 0 25px 0 25px;
}

.current {
	background-color: #B5C5CF;
	color: #fff;
}

.showslide,
.hideslide {
	position: absolute;
	text-align: right;
	top: 520px;
	left: 885px;
	display: block;
	height: 20px;
	width: 100px;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 10px;
}

.hideslide {
	display: none;
}

#taalkeuze {
	margin: 0;
	list-style: none;
}

#taalkeuze li a {
	text-transform: uppercase;
	color: #fff;
	text-align: left;
	font-size: 28px;
	line-height: 40px;
	text-decoration: none;
	background-color: #030838;
}

#taalkeuze li a:hover {
	text-decoration: underline;
}

/*----------------------------*/
#routeplanners {
	width: 180px;
	float: left;
}

#nav li a.active {
	border-bottom: 4px solid #267bb7;
	padding-bottom: 26px;
	background-color: #010429;
}

.conf
{
	display: flex;
	flex-direction: row;
}

.ItemKeuze
{
	width: 100px;
	height: 640px;
}

.voorbeeld
{
	border: 1px solid #010429;
	box-sizing: border-box;
	width: 650px;
	height: 800px;;
}

.container
{
	height: 100px;
	box-sizing: border-box;
	border: 1px solid #010429;
    width: 97px;
}

.overlay
{
	height: 100px;
	width: 100px;
	background: #010429;
	opacity: 0.0;
	transition: .5s ease;
	position: absolute;
}
.overlay:hover
{
	opacity: 1;
}
.text
{
	height:100%;
	color: white;
	font-size: 15px;
	text-align: center;
	}
.container img
{
	width: 98px;
}

.hemd, kraag, borstzak, knoopsluiting, knoop, epaulet, mouw, borduur
{
	width: 648px;
	height: 648px;
	border: 1px solid #010429;
	box-sizing: border-box;
}


